<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test-Suite" >
    <listeners>
        <listener class-name="RetryFailedTest.MyAnnotationTransformer"></listener>
    </listeners>
    <test name="ToolsQA" >
        <classes >
            <class name="main.Reg1" />
        </classes>
    </test>

</suite>